<template name="header">
	<nav class="green lighten-1" role="navigation">
		<div class="nav-wrapper"><a id="logo-container" href="{{url 'home'}}" class="brand-logo">What's in my Fridge?</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{{url 'whattocook'}}">What to cook?</a></li>
				<li><a href="{{url 'myfood'}}">My Food</a></li>
				<li><a href="{{url 'myrecipes'}}">My Recipes</a></li>
				<li><a href="#">My Shopping Lists</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav" style="left: -250px;">
				<li><a href="{{url 'whattocook'}}">What to cook?</a></li>
				<li><a href="{{url 'myfood'}}">My Food</a></li>
				<li><a href="{{url 'myrecipes'}}">My Recipes</a></li>
				<li><a href="#">My Shopping Lists</a></li>
				</ul>
					<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				</div>
			</nav>
</template>
